<div class="container pt-3 pb-5">

    <div class="card">
        <div class="card-header">
            <div class="float-left">
                <fa name="list"></fa> Users list
            </div>
            <button class="btn btn-sm btn-secondary float-right" 
                    [disabled]="!selectedItemKeys.length" 
                    (click)="deleteRecords()">
                    <fa name="trash"></fa> Delete selected records
            </button>
        </div>
        <div class="card-body">
            <dx-data-grid   id="gridContainer" class="dx-theme-border-color"   
                            [dataSource]="usersDataSource" 
                            [showColumnLines]="true"
                            [showRowLines]="false" 
                            [showBorders]="true"
                            (onSelectionChanged)="selectionChanged($event)"
                            [(selectedRowKeys)]="selectedRow">
                <!-- Parameters -->
                <dxo-paging         [pageSize]="1"></dxo-paging>
                <dxo-selection      mode="multiple"></dxo-selection>
                <dxo-filter-row     [visible]="true"></dxo-filter-row>
                <dxo-search-panel   [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                <dxo-pager          [showPageSizeSelector]="true" [allowedPageSizes]="[1, 3, 5, 10]" [showInfo]="true"></dxo-pager>
                <!-- 
                <dxo-editing        mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="true"></dxo-editing> 
                -->
                <dxo-editing        mode="popup" [allowUpdating]="true">
                    <dxo-popup title="User info"
                                [showTitle]="true"
                                [width]="300"
                                [height]="350"
                                [position]="{ my: 'top', at: 'top', of: 'window' }">
                    </dxo-popup>
                    <dxo-form>
                        <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
                            <dxi-item dataField="login"></dxi-item>
                            <dxi-item dataField="password"></dxi-item>
                            <dxi-item dataField="name"></dxi-item>
                            <dxi-item dataField="idRole"></dxi-item>
                        </dxi-item>
                    </dxo-form>
                </dxo-editing>
                <!-- Column -->
                <dxi-column dataField="login"       dataType="string" caption="Login"></dxi-column>
                <dxi-column dataField="password"    dataType="string" caption="Password"></dxi-column>
                <dxi-column dataField="name"        dataType="string" caption="Surname"></dxi-column>
                <dxi-column dataField="idRole" dataType="string" caption="Role">
                    <dxo-lookup
                        [dataSource]="rolesDataSource"
                        displayExpr="title"
                        valueExpr="id">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
        </div>
    </div>

</div>