/* You can add global styles to this file, and also import other style files */

.form-control.is-custom {
    /* border-color: #000000; */
    padding-right: calc(1.5em + .75rem);
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E); */
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-custom:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    background-color: rgb(255, 255, 255);
}