<div class="card">
    <div class="card-header">
        <div class="float-left">
            <i class="fa fa-list"></i> Address list
        </div>
        <button class="btn btn-sm btn-secondary float-right" [disabled]="!selectedItemKeys.length || loadingDeleteButton.isVisible" (click)="deleteRecords()">
                <i class="fa fa-trash"></i> Delete selection ({{ selectedItemKeys.length }})
            </button>
    </div>
    <div class="card-body">
        <dx-data-grid id="gridContainer" [dataSource]="addressDataSource" [showColumnLines]="true" [showRowLines]="false" [showBorders]="true" [cacheEnabled]="false" [columnAutoWidth]="true" [allowColumnReordering]="true" [allowColumnResizing]="true" (onSelectionChanged)="onSelectionChanged($event)"
            (onToolbarPreparing)="onToolbarPreparing($event)">
            <!-- Parameters -->
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-selection mode="multiple"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 10, 100]" [showInfo]="true"></dxo-pager>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-editing mode="batch" [useIcons]="true" [refreshMode]="'full'" [startEditAction]="'dblClick'" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
            <dxo-keyboard-navigation [editOnKeyPress]="true" [enterKeyAction]="'startEdit'" [enterKeyDirection]="'none'"></dxo-keyboard-navigation>
            <!-- Column -->
            <dxi-column dataField="street" dataType="string" caption="Street">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="building" dataType="string" caption="Building">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="zipCode" dataType="string" caption="ZipCode">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="coordinate.type" dataType="string" caption="Type coordinate" [width]="'auto'">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="coordinate.coordinate.longitude" dataType="number" caption="Longitude" [width]="'auto'">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column dataField="coordinate.coordinate.latitude" dataType="number" caption="Latitude" [width]="'auto'">
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
        </dx-data-grid>
    </div>
</div>